@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Lato', sans-serif;
}

/* header styles starts */
.msg {
  color: beige;
}

.logo-header {
  display: none;
}

.header {
  background-color: blueviolet;
  height: 70px;
  border-radius: 6px;
}

.hamburger-btn {
  margin-left: 30px;
  border: none;
  border-radius: 4px;
}

.hamburger-btn:hover {
  cursor: pointer;
}

/* .info-container styles starts here */
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("photo/bg/prof-backround2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info-text {
  margin-top: 150px;
  margin-bottom: 150px;
  line-height: 30px;
}

.info-text h3 {
  color: plum;
}

.dif {
  color: gold;
}

.venue h2 {
  color: plum;
}

.info-date h2 {
  color: plum;
}

/* footer style starts */
.footer {
  background-color: blueviolet;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.footer p {
  color: aliceblue;
}

.footer a {
  text-decoration: none;
  color: plum;
}
