@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
}

/* header styles starts */
.logo-header {
  display: none;
}

.header {
  background-image: url("photo/assets/mobile_index_bg.png");
  height: 90px;
  border: 2px solid #fff;
}

.hamburger {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.hamburger img {
  width: 40px;
}

.tm-logo img {
  width: 120px;
  margin-left: 20px;
}

.hamburger-btn {
  margin-left: 30px;
  border: none;
  border-radius: 4px;
}

.hamburger-btn:hover {
  cursor: pointer;
}

.t-menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  border-bottom-left-radius: 50px;
  backdrop-filter: blur(1px);
  background: #fff;
  z-index: 10;
  display: flex;
  flex-direction: column;
  transition: all 100ms ease-in-out;
  transform: scale(0);
}

.t-menu.active {
  transform: scale(1);
}

.c-button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 2rem;
  color: black;
  padding-left: 300px;
  padding-top: 30px;
}

.tul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-weight: 600;
  font-size: 25px;
  gap: 40px;
  color: #fff;
  margin-left: 50px;
}

.cc {
  border: 4px solid orangered;
  width: 130px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 12px;
  margin-left: 50px;
}

.tul a {
  color: black;
  text-decoration: none;
}

.tul a:hover {
  color: orangered;
}

.cc:hover {
  background: orangered;
  color: #fff;
}

/* .info-container styles starts here */
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("photo/assets/mobile_index_bg.png");
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.info-text {
  line-height: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-text h3 {
  color: plum;
}

.greetext {
  color: #ec5242;
}

.greting {
  margin: 0 45px;
}

.txt {
  margin: 0 45px;
}

.dif {
  color: rgb(216, 69, 69);
  font-size: larger;
  font-weight: 200px;
}

.write-up {
  color: rgb(37, 37, 85);
  margin: 20px 0 20px 17px;
  font-size: small;
  line-height: 20px;
}

.txt-p {
  background-color: #d3d3d3;
  border: 1px solid white;
  border-radius: 12px;
  margin: 25px 0;
}

.info-date h3,
p {
  color: rgb(37, 37, 85);
}

.guest-artist {
  color: white;
}

/* programs starts */
.topic {
  color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.programs {
  background: #272a31;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-programs {
  background-image: url(photo/assets/pattern.png);
  display: flex;
  flex-direction: column;
}

.program-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  background-color: #ffffff26;
  display: flex;
  margin: 8px 8px 0;
  align-items: center;
  line-height: 19px;
  padding: 0 15px 0 15px;
  height: 80px;
  /* justify-content: space-between; */
  text-align: justify;
}

.material-icons {
  color: #fff;
}

.main-ico p {
  color: #fff;
  font-size: 11px;
  margin-left: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 250px;
}

.spandiv {
  display: flex;
  justify-content: space-between;
}

.ico {
  margin-left: 15px;
  color: #ff4632;
  font-weight: 600;
  width: 120px;
}

.prog-foot {
  background-color: #ff4632;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  margin: 17px 300px;
  border-radius: 6px;
}

.prog-foot-btn {
  background: none;
  color: #fff;
  font-size: 14px;
}

/* artist styles */
.guest-overall {
  background-color: #fff;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 90px;
  border: 2px solid red;
}

.arthead {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.artists {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.guestlists {
  display: flex;
  flex-direction: column;
  color: black;
  font-style: italic;
  margin-left: 30px;
}

.achievments p {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 12px;
}

.art-imgs {
  display: flex;
}

.art-imgs img {
  width: 80px;
  height: 90px;
}

.art-imgs .hash {
  width: 40px;
  height: 40px;
}

.guestart-wrapper {
  display: flex;
  /* flex-direction: column; */
  color: black;
  text-align: justify;
}

.placeofwork {
  color: #ec5242;
}

.hr {
  background-color: #ec5242;
  width: 50px;
  height: 2px;
  margin-top: -60px;
}

.hrperent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.art-btn {
  height: 50px;
  font-size: 15px;
  background: none;
  color: #102a66;
}

.artbtn {
  display: flex;
  align-items: center;
  gap: 14px;
  justify-content: center;
  border: 3px solid rgb(109, 107, 107);
  margin-top: 20px;
  margin-bottom: 35px;
  margin-left: 5px;
  margin-right: 5px;
  width: 70%;
}

.art-btn img {
  margin-left: 9px;
}

/* footer style starts */
.footer {
  background: #272a31;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  height: 300px;
  margin-bottom: 17px;
}

.footer p {
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.foot-icons img {
  width: 90px;
  margin: 20px 20px;
}

.foot-foot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ff-img img {
  width: 70px;
}

.ff-writeup {
  color: #323233;
}

@media screen and (min-width: 768px) {
  .info-container {
    width: 100%;
  }
}
